[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "==7.0.0"
astroid = "==2.2.5"
click = "==7.0"
colorama = "==0.4.1"
gunicorn = "==19.9.0"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
lazy-object-proxy = "==1.4.1"
mccabe = "==0.6.1"
numpy = "==1.17.0"
pygame = "==1.9.6"
pylint = "==2.3.1"
pytz = "==2019.2"
six = "==1.12.0"
typed-ast = "==1.4.0"
wrapt = "==1.11.2"
Flask = "==1.1.1"
Flask-CLI = "==0.4.0"
Flask-RESTful = "==0.3.7"
Flask-Script = "==2.0.6"
Flask-SQLAlchemy = "==2.4.0"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
Pillow = "==6.1.0"
PyPubSub = "==4.0.3"
SQLAlchemy = "==1.3.8"
Werkzeug = "==0.15.6"
requests = "*"
request = "*"
jwt = "*"
swagger-ui-py = "*"
pyjwt = "*"
flask-swagger = "*"
flask-cors = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
